# CockroachDB (Cockroach Cloud の接続文字列をそのまま指定)
DATABASE_URL=postgresql://user:password@host:26257/defaultdb?sslmode=verify-full

# API
API_SECRET_KEY=your_api_secret_key

# Asken App
NEXT_PUBLIC_ASKEN_MEMBER_ID=your_asken_member_id
